@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Ysabeau+SC:wght@1..1000&display=swap');

:root {
    --header: #001530;
    --page-color: #d2dfc7;
    --font-color: #1b7fdd;
}

html {
    overflow-x: hidden;
    padding-top: 5rem;
    font-family: Ysabeau SC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

header {
    font-family: exo;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    color: white;
}

header div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: white;
}

.home-container {
    width: 100vw;
    background-color: var(--page-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-wrapper {
    height: calc(100vh - 10rem);
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: white;
    font-size: 36px;
    background-color: var(--page-color);
}

h2{
    font-family: Exo;
    color: var(--font-color);
}

.home-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-box img {
    border-radius: 50%;
}

.footer {
    height: 5rem;
    background-color: rgb(169, 182, 133);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header);
}



/* ADD PAGE *//* ADD PAGE *//* ADD PAGE */

.add-wrapper {
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: center;
    background-color: white;
    background-color: var(--page-color);
    padding-top: 20px;
}

.add-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}

.add-box input, .add-box select {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
}

.add-box span {
    color: red;
}
